<div class="col-xs-12">
	<% if @article.author_id == current_user.id %>
		
		<h2><%= t('edit_article.subject') %></h2>

		<%= form_for :article, url: article_path(@article), method: :put do |f| %>

			<% if @article && @article.errors.any? %>
				<p>
					<ul>
						<% @article.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</p>
			<% end %>

			<p>
				<%= f.label :title %><br />
				<%= f.text_field :title %>
			</p>

			<p>
				<%= f.label :text %><br />
				<%= f.text_area :text %>
			</p>

			<p>
				<%= f.submit t('edit_article.btn_save') %>
			</p>

		<% end %>

		<%= form_for :article, url: article_path(@article), method: :delete, data: { confirm: t('edit_article.confirm_del') } do |f| %>

			<p>
				<%= f.submit t('edit_article.btn_delete') %>
			</p>

		<% end %>
	
	<% else %>
	
		<h2>ACCESS DENIED</h2>
	
	<% end %>
</div>