<div class="col-xs-12">
	<% @articles.each do |article| %>
		<div class="well">

			<h3><%= link_to article.title, article_path(article) %></h3>
					
			<br />
			<p>
				<%= article.text %>
			</p>
			<br />
			
			<span style="font-size: 75%; color: #999">Created at <%= article.created_at %>.
				<% if if user_signed_in? then article.author_id == current_user.id end %>
					You can <%= link_to t('edit_article.link_edit'), edit_article_path(article) %> or <%= link_to t('edit_article.link_delete'), article_path(article), method: :delete, data: { confirm: t('edit_article.confirm_del') } %> it.
				<% end %>
			</span>

		</div>
	<% end %>
</div>