<div class="col-xs-12">
	<div class="well">
		<h2><%= @article.title %></h2>

		<p><%= @article.text %></p>

		<br />
		<span style="font-size: 75%; color: #999">
			<%= t('edit_article.created_at')  %> 
			<%= @article.created_at %>.
			<% if if user_signed_in? then @article.author_id == current_user.id end %>
				<%= t('edit_article.you_can') %>
				<%= link_to t('edit_article.link_edit'), edit_article_path(@article) %>
				<%= t('edit_article.or') %>
				<%= link_to t('edit_article.link_delete'), article_path(@article), method: :delete, data: { confirm: t('edit_article.confirm_del') } %>
				<%= t('edit_article.it') %>
			<% end %>
		</span>
	</div>
	<div class="well">
		<h3><%= t('comments.subject') %></h3>

		<% @article.comments.each do |comment|  %>

			<p>
				<i><%= comment.author %></i> said:<br />
				<%= comment.body %>
			</p>

		<% end %>

		<p>
			<%= form_for([@article, @article.comments.build]) do |f| %>

				<p>
					<%= f.label t('comments.add_comment') %><br />
					<%= f.text_area :body %>
				</p>

				<p>
					<%= f.submit t('comments.create_comment') %>
				</p>

			<% end %>
		</p>
	</div>
</div>