<div class="col-xs-12">
	<h2><%= t('contacts.subject') %></h2>

	<%= form_for :contact, url: contacts_path do |f| %>

		<% if @contact && @contact.errors.any? %>
			<p>
				<ul>
					<% @contact.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</p>
		<% end %>

		<p>
			<%= f.label t('contacts.email') %><br />
			<%= f.text_field :email %>
		</p>

		<p>
			<%= f.label t('contacts.message') %><br />
			<%= f.text_area :message %>
		</p>

		<p>
			<%= f.submit t('contacts.btn_send') %>
		</p>

	<% end %>
</div>