<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= t('navbar.site_name')  %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="stylesheets/bootstrap.css" rel="stylesheet">
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/jquery-2.2.1.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
		  
      <!-- Static navbar -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only"><%= t('navbar.site_name')  %></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to t('navbar.site_name'), locale_root_path, class: "navbar-brand" %>
        </div>
        
        <div class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav">
            <li><%= link_to t('navbar.all_articles'), articles_path %></li>
            <li><%= link_to t('navbar.new_article'), new_article_path %></li>
            <li><%= link_to t('navbar.terms'), terms_path %></li>
            <li><%= link_to t('navbar.payment'), payment_path %></li>
            <li><%= link_to t('navbar.contact_us'), new_contacts_path %></li>
            <li><%= link_to t('navbar.about'), about_path %></li>
          </ul>
<% #Если ваше приложение включает меню переключения локали, вам следует иметь что-то вроде этого в нем:
#link_to("Русский", "#{APP_CONFIG[:deutsch_website_url]}#{request.env['PATH_INFO']}") %>          
          <ul class="nav navbar-nav navbar-right">
              <li></li>
            <% if user_signed_in? %>
              <li><p class="navbar-text"><%= t('navbar.hello', username: current_user.username) %></p></li>
              <li><%= link_to t('navbar.exit'), destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to t('navbar.sign_in'), new_user_session_path %></li>
              <li><%= link_to t('navbar.sign_up'), new_user_registration_path %></li>
            <% end %>
          </ul>

        </div><!--/.nav-collapse -->
      </nav>

			<%if alert && alert.length > 0 then %>
				<div class="alert alert-danger"><%= alert %></div>
			<% end %>
			
			<%if notice && notice.length > 0 then %>
				<div class="alert alert-success"><%= notice %></div>
			<% end %>

		</div>
	</div><!-- /.row -->
	
	<div class="row">

		<%= yield %>

	</div><!-- /.row -->
</div><!-- /.container -->
<style>
	body {
		background-image:url('/img/p2.png');
	}
</style>
</body>
</html>
