<!DOCTYPE html>
<html>
<head>
  <title>BlogSample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script data-require="bootstrap@*" data-semver="3.3.6" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
  <script data-require="jquery@*" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
		
			<% if user_signed_in? %>
				Hello, <%= current_user.username %> | <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to 'Sign In', new_user_session_path %>
			<% end %>

			<%if alert && alert.length > 0 then %>
				<div class="alert alert-danger"><%= alert %></div>
			<% end %>
			
			<%if notice && notice.length > 0 then %>
				<div class="alert alert-success"><%= notice %></div>
			<% end %>

		</div>
	</div><!-- /.row -->
	
	<div class="row">

		<%= yield %>

	</div><!-- /.row -->
</div><!-- /.container -->
<style>
	body {
		background-image:url('/img/cheap_diagonal_fabric.png');
	}
</style>
</body>
</html>
